version: '3.8'
services:
  winkai:
    build: .
    volumes:
      - ./backend/uploads:/app/uploads
      - ./backend/results:/app/results

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - winkai
